.root {
  font-size: 12px;
  // margin-top: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.root img {


  width: 600px;
  height: 400px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  // align-items: center;
  // text-align: center;
}

.body_root {
  text-align: center;
  align-items: center;
  margin: 0 80px;
}

.img_wrapper {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .root {
    // margin-top: 60px;
padding-right: 0px;
  }

  .body_root {
    text-align: center;
    align-items: center;
    margin: 0 15px;
  }
  .root img {
    width: 300px;
    margin-left: 20px;
    height: 250px;
    object-fit: cover;
    // margin-bottom: 30px;
    
  }
}
