.black_visible {
  height: 700vh;
  background: #000;
  color: #fff;
  transition: 0.7s all ease;
}
.white_visible {
  height: 700vh;

  background: #fff;
  color: #000;
  transition: 0.7s all ease;
}