.black_visible {
  height: 300vh;
  background: #000;
  color: #fff;
  transition: 0.5s all ease;
}
.white_visible {
  height: 300vh;

  background: #fff;
  color: #000;
  transition: 0.5s all ease;
}