

.body_root {
  /* margin: 0 120px; */
  margin: 0 10%;
}

.first_photo {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  margin-top: -100vh;
  width: 80%;

  /* //下から上に表示させるために最初非表示 */
  opacity: 1;
  transition: all 0.4s ease;
}

/* //.showが追加されたら、正常な状態に戻す */
.show {
  opacity: 0;
  transform: none;
}
.body_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100vh;
}

@media screen and (max-width: 926px) {
  .body_root {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .body_root {
    margin: 0px 0px;
  }

  .first_photo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .first_photo {
    align-items: center;
    height: 100vh;
    margin-top: -120vh;
  }

  .body_wrapper {
    margin-top: 100vh;
  }
}
