.body_root {
  /* margin: 0 120px; */
  margin: 0 10%;
}

.first_photo {
  display: flex;
  justify-content: center;
}

.body_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 926px) {
  .body_root {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .body_root {
    margin: 0px 0px;
  }
}
