.body_root {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: first baseline; */
}

.first_photo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 45vh;
  /* height: 100%; */

  /* これ！ */
  /* width: 100vw; */
  width: 80%;

  position: fixed;
  /* margin-top: -115vh; */
  padding-left: 5%;
  margin-top: 8vh;
  /* //下から上に表示させるために最初非表示 */
  opacity: 1;
  transition: all 0.5s ease;
}

/* //.showが追加されたら、正常な状態に戻す */
.show {
  opacity: 0;
  transform: none;
}
/* .show2 {
  opacity: 0;
  transform: none;
} */

/* 写真の並び */
.body_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100vh;
}

@media screen and (max-width: 1200px) {
  .body_root {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: first baseline; */
  }

  .first_photo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70vh;
    /* height: 100%; */

    /* これ！ */
    /* width: 100vw; */
    width: 90%;

    position: fixed;
    /* margin-top: -115vh; */
    padding-right: 0%;
    padding-left: 0%;
    /* //下から上に表示させるために最初非表示 */
    opacity: 1;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 926px) {
  .body_root {
    margin: 0 10%;
    /* background: pink; */
  }

  .first_photo {
    padding-right: 20%;
  }
}

@media screen and (max-width: 520px) {
  .body_root {
    margin: 0px 0px;
  }

  .first_photo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    margin-top: -14vh;
    padding-right: 0%;
  }

  .body_wrapper {
    /* margin-top: 100vh; */
  }

  .show {
    opacity: 0;
    transform: none;
  }
}
